header {
  background-color: skyBlue;
}


.container{
  background-color: red;
}

.row{
  background-color: blue;
}

.col{
  background-color: yellow;
}

.carousel-control-next-icon{
  background-color: pink;
}

#jumbo_1{
  margin-bottom: 0;
}

#jumbo_2{
  padding: 5%;
  margin: 0;
}

#galleryCarousel{
  margin: 7% 0;
}
